<div class="container">
  <div class="row mt-4">
    <div class="col-12 text-center">
      <h1>CRUD BASE RAÚL FLORES</h1>
    </div>
    <div class="col-12">
      <h1>algun titulo</h1>
      <app-modal #modal [active]="isActive">
        
        <p>algun contenido</p>
        <button class="btn btn-primary" (click)="closeModal(modal)">
          Agregar Pedido
        </button>
      </app-modal>
    </div>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Código</th>
            <th scope="col">Cliente</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{pedido.id}}</td>
            <td>{{pedido.title}}</td>
            <td>{{pedido.body}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
